<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.konsultasikepapean">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Konsultasi KEPAPEAN"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.KONSULTASIKEPAPEAN">
        <activity
            android:name=".dataset"
            android:exported="false" />
        <activity
            android:name=".konsultasi_anak"
            android:exported="false" />
        <activity
            android:name=".konsultasi"
            android:exported="false" />
        <activity
            android:name=".tentang"
            android:exported="false" />
        <activity
            android:name=".petunjuk"
            android:exported="false" />
        <activity
            android:name=".konsultasi_perempuan"
            android:exported="false" />
        <activity
            android:name=".daftar_menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>